@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #FFFFFF;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #1F2937;
  --text-color: #FFFFFF;
}

.dark {
  --background-color: #1F2937;
  --text-color: #FFFFFF;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

.container {
  position: relative;
}

.bubbles {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 25s linear infinite;
  animation-duration: calc(1000s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #FB7185;
  box-shadow: 0 0 0 10px #FB718544,
  0 0 50px #FB7185,
  0 0 100px #FB7185;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  50% {
    transform: translateY(-20vh) scale(2);
  }
  100% {
    transform: translateY(100vh) scale(0);
  }
}

body.dark {
  background-color: var(--background-color);
  color: var(--text-color);
}

@media (min-width: 1024px) {
  body {
    padding-top: 0;
  }
}

@media (max-width: 1024px) {
  body {
    padding-top: 4rem;
  }
}

@keyframes scroll-vertical {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll-vertical 10s linear infinite;
}

@media (max-width: 768px) {
  .animate-scroll {
    animation: scroll-horizontal 10s linear infinite;
  }
}
